button {
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: var(--primary-button-color);
    border: none;
    color: var(--text-color);
    cursor: pointer;
    opacity: 0.9;
    flex: 1;
}

button:hover {
    opacity: 1;
}

#clear-button {
    background-color: var(--secondary-button-color);
}